
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// nicer colors
$colorNavy: #001F3F;
$colorBlue: #0074D9;
$colorAqua: #7FDBFF;
$colorTeal: #39CCCC;
$colorOlive: #3D9970;
$colorGreen: #2ECC40;
$colorLime: #01FF70;
$colorYellow: #FFDC00;
$colorOrange: #FF851B;
$colorRed: #FF4136;
$colorPurple: #B10DC9;
$colorMaroon: #85144B;
$colorWhite: #FFFFFF;
$colorSilver: #DDDDDD;
$colorGrey: #AAAAAA;
$colorBlack: #111111;